<div>
	<div class="container px-6">
		<div class="text-center space-y-6 md:max-w-xl md:mx-auto">
			<div class="text-primary font-bold text-sm">All You Need is Fun!</div>
			<hgroup class="text-zinc-400 space-y-6">
				<h1 class="text-3.5xl lg:text-5xl leading-tight">Introducing ToyStore</h1>
				<p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to
					take action.</p>
			</hgroup>
			<div class="link-placeholder"></div>
		</div>
		<div class="rounded-xl overflow-hidden mt-16">
			<img src="assets/5bb5c77fe7ca6c69b821cffc_about-image-p-1080.jpeg" alt="" />
		</div>
	</div>
</div>
<div id="moreAbout" class="about-container">

</div>