<div class="container text-center lg:text-left md:max-w-xl lg:max-w-screen-lg lg:px-8">
	<div class="mb-16 text-center">
		<div class="text-primary font-bold text-sm">Made for Webflow</div>
		<h2 class="text-3xl leading-9 mt-4 lg:text-3.5xl lg:max-w-[28ch] lg:mx-auto">Simple &amp; Colorful Ecommerce Template for Your Business</h2>
	</div>
	<div class="about-content-container flex flex-col gap-16"></div>
</div>