<div class="container text-center lg:text-left md:max-w-xl lg:max-w-screen-lg lg:px-8">
	<div class="mb-16 text-center">
		<div class="text-primary font-bold text-sm">Made for Webflow</div>
		<h2 class="text-3xl leading-9 mt-4 lg:text-3.5xl lg:max-w-[28ch] lg:mx-auto">Simple &amp; Colorful Ecommerce Template for Your Business</h2>
	</div>
	<div class="flex flex-col lg:flex-row-reverse lg:[&>*]:flex-1">
		<div class="rounded-xl overflow-hidden lg:grid lg:place-items-center">
			<img src="/assets/5bb5c77ee73150e2021b0db4_side-image-01-p-1080.jpeg" class="lg:max-w-md rounded-xl" alt="" />
		</div>
		<div class="mt-10">
			<h2 class="text-3xl relative pb-6 lg:text-3.5xl">Available for FREE!
				<div class="absolute bottom-0 left-1/2 lg:left-0 -translate-x-1/2 lg:-translate-x-0 h-0.5 bg-primary w-20"></div>
			</h2>
			<p class="text-zinc-500 leading-6 mt-6 lg:max-w-[46ch]">
				A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take
				action. There is no magic formula to write perfect ad copy
			</p>
			<button class="button-placeholder"></button>
		</div>
	</div>
</div>