<div class="container flex flex-col lg:flex-row lg:items-start gap-8 lg:gap-12 bg-white rounded-xl p-6 md:p-16 lg:px-20 lg:py-24 shadow shadow-black/10">
	<div class="space-y-6">
		<hgroup class="space-y-4">
			<h2 class="text-3xl lg:text-3.5xl">Delivery Info</h2>
			<p class="leading-relaxed">A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and
				convince consumers to take action. There is no magic formula to write perfect ad copy; it is based on a number of factors, including ad placement, demographic, even the consumer’s mood when
				they see your ad.</p>
		</hgroup>
		<hgroup class="space-y-4">
			<h3 class="text-2xl lg:text-3xl">What’s a Rich Text element?</h3>
			<p class="leading-relaxed">The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them
				individually. Just double-click and easily create content.</p>
		</hgroup>
		<hgroup class="space-y-4">
			<h4 class="text-lg lg:text-2xl">Static and dynamic content editing</h4>
			<p class="leading-relaxed">A rich text element can be used with static or dynamic content. For static content, just drop it into any page and begin editing.</p>
			<ul class="list-disc pl-10 pt-4">
				<li>Beautifully Designed</li>
				<li>100% Responsive</li>
				<li>CMS Content</li>
				<li>Smooth Animations</li>
			</ul>
			<p class="leading-relaxed">For dynamic content, add a rich text field to any collection and then connect a rich text element to that field in the settings panel. Voila!</p>
		</hgroup>
		<hgroup class="space-y-4">
			<h4 class="text-lg lg:text-2xl">How to customize formatting for each rich text</h4>
			<p>Headings, paragraphs, blockquotes, figures, images, and figure captions can all be styled after a class is added to the rich text element using the "When inside of" nested selector system.</p>
		</hgroup>
	</div>
	<div class="ring ring-zinc-200 rounded-xl text-center space-y-3 md:space-y-0 lg:space-y-3 p-10 flex flex-col md:flex-row lg:flex-col lg:min-w-[270px] md:items-center">
		<h5 class="text-[17px] max-w-[18ch] md:max-w-none mx-auto md:mx-0">Can't Find the Answer to Your Question?</h5>
		<div class="button-placeholder"></div>
	</div>
</div>