<div class="container">
	<div class="flex flex-col gap-6 lg:flex-row justify-between">
		<div class="flex flex-col justify-between gap-6 md:flex-row lg:w-full">
			<a href="#" class="text-xl">ToyStore</a>
			<ul class="footer-links-container flex items-center gap-4 text-sm md:text-base">
			</ul>
			<div class="socials-container hidden items-center md:justify-end lg:flex"></div>
		</div>
		<div class="socials-container flex items-center md:justify-end lg:hidden"></div>
	</div>
	<div class="flex flex-col gap-2 justify-between md:flex-row border-t border-orange-200/50 mt-8 md:mt-10 pt-5 md:pt-8 text-xs">
		<p>Cloned with love by <a href="https://github.com/mohamedmostafakhudari" class="underline">Mohamed Mostafa</a></p>
		<div class="flex items-center gap-2">
			<p>Design by <a href="#" class="underline">Webflow</a></p>
			<div class="divider w-0.5 aspect-square rounded-full bg-white/80"></div>
			<a class="capitalize underline" href="#">style guide</a>
			<div class="divider w-0.5 aspect-square rounded-full bg-white/80"></div>
			<a class="capitalize underline" href="#">licensing</a>
		</div>
	</div>
</div>