<div class="text-center space-y-4">
	<div class="text-primary">@ElasticThemes</div>
	<h2 class="text-3xl lg:text-3.5xl">We're on Instagram!</h2>
</div>
<div class="images-container opacity-0 scale-[50%] grid grid-cols-3 gap-2 my-14 md:max-w-lg md:mx-auto md:gap-4 lg:grid-cols-6 lg:max-w-none lg:my-20">

</div>
<div class="button-placeholder"></div>