<div class="container text-slate-800">
	<div class="relative">
		<div class="flex items-start justify-between">
			{{#if heading}}
				<h3 class="capitalize text-2xl pb-7 lg:pb-8 font-medium lg:text-3xl whitespace-nowrap">{{heading}}</h3>
			{{else}}
				<h3 class="capitalize text-2xl pb-7 lg:pb-8 font-medium lg:text-3xl hidden md:block whitespace-nowrap">all toys</h3>
			{{/if}}
			<div class="w-full md:w-auto">
				{{#if home}}
					<div class="link-placeholder"></div>
				{{else}}
					<ul class="options__container flex flex-col md:flex-row items-center gap-2 md:gap-0 mb-10 md:mb-0">
						<li data-selected class="text-slate-800 capitalize rounded-full data-[selected]:text-white data-[selected]:bg-primary group">
							<a href="/catalog" class="block p-1.5 px-5 text-sm group-hover:underline group-data-[selected]:hover:no-underline">all toys</a>
						</li>
						<li class="text-slate-800 capitalize rounded-full data-[selected]:text-white data-[selected]:bg-primary group">
							<a href="/catalog/wooden-toys" class="block p-1.5 px-5 text-sm group-hover:underline group-data-[selected]:hover:no-underline">wooden toys</a>
						</li>
						<li class="text-slate-800 capitalize rounded-full data-[selected]:text-white data-[selected]:bg-primary group">
							<a href="/catalog/stuffed-animals" class="block p-1.5 px-5 text-sm group-hover:underline group-data-[selected]:hover:no-underline">stuffed animals</a>
						</li>
					</ul>
				{{/if}}
			</div>
		</div>
		<div class="bg-slate-300 h-0.5 absolute top-full left-0 right-0"></div>
		<div class="bg-primary h-0.5 absolute top-full -translate-y-1/4 w-36"></div>
	</div>

	<div class="cards__container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-center gap-4 md:gap-10 lg:gap-6 mt-12 md:mt-16"></div>
</div>