<div class="container text-center h-full grid place-items-center">
	<div class="video__text flex flex-col items-center gap-5 mx-auto px-8 md:px-14 lg:px-24 opacity-0 scale-[50%]">
		<div class="capitalize text-sm font-medium lg:text-base">about the shop</div>
		<h2 class="text-white text-4xl capitalize">watch our story</h2>
		<p>There is no magic formula to write perfect ad copy. It is based on a number of factors, including ad placement, demographic, even the consumer’s mood.</p>
		<a class="rounded-full bg-primary w-16 grid place-items-center aspect-square duration-300 ease-in-out hover:scale-110" href="#">
			<img class="w-6" src="assets/5bae5eec4b504f1c4031af32_play-icon-white.svg" alt="" />
		</a>
	</div>
</div>